DATABASE_URL=postgresql+psycopg://votos:votos@localhost:5432/votos
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
CORS_ORIGINS=http://localhost:3000
SENADO_SENATORS_URL=https://legis.senado.leg.br/dadosabertos/senador/lista/atual
SENADO_VOTES_URL=https://legis.senado.leg.br/dadosabertos/votacao
